language: node_js

node_js:
- stable

cache:
  directories:
  - node_modules

script:
- npm test

after_script:
  - npm run coveralls

notifications:
  email:
    on_success: never
    on_failure: always
